*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;

}
nav ul li{
  display: inline-block;
  margin-right: 20px; 

}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
  font-size: 20px;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;

}
.header{
  background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
  margin-top: 70px;
}
.header-X button{
  width: 150px;
  height: 40px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283,#ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
 button img{
  width: 30px;
  display: none;
}
 button:hover img{
  display: block;
}
 button:hover{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.catagories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

  

}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;

  
}
.rating, .far.far{
  color: #ff523b;

}
.col-4:hover{
  transform: translateY(-5px);
}
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;


}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #555;
  
  
}

/* com */
.small-container .header-X button:hover{
  width: 160px;
  height: 40px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283,#ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
footer{
  position: absolute  ;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;

}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;

}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;

}
.footer-content p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
  color: orange;
  
}
p strong i{
  color: goldenrod
  
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;

}

/* ------Media query -----------*/
 @media only screen and (max-width: 800px){
   nav ul{
     position: absolute;
     top: 70px;
     left: 0;
     background: #333;
     width: 100%;

   }
     nav ul li{
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px;

     }
     nav ul li a{
       color: #fff;


     }
     .menu-icon{
       display: block;
     }

 }











  


